<html>
    
<head>
    <style>
    label {
    width:180px;
    clear:left;
    text-align:left;
    padding-right:10px;
    }

    button {
    width:180px;
    clear:left;
    text-align:left;
    padding-right:10px;
    }

    input, label {
        float:left;
    }

    </style>
    

    <title>Give Input</title>

    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/semantic-ui@2.4.2/dist/semantic.min.css">
    <script src="https://cdn.jsdelivr.net/npm/semantic-ui@2.4.2/dist/semantic.min.js"></script>
    <script src="https://code.jquery.com/jquery-3.1.1.min.js" integrity="sha256-hVVnYaiADRTO2PzUGmuLJr8BLUSjGIZsDYGmIJLv2b8=" crossorigin="anonymous"></script>

</head>

<body>
    

    <div class = "ui container">
        <br>
        <h1>House price Prediction API</h1>  
        {% block content %}

        {% endblock %}
    </div>

    
</body>

</html>

